# Arquivos gerados pelo Python/Flask
*.pyc
__pycache__/
instance/

# Banco de Dados e Migrações
migrations/

# Arquivos de Ambiente a IGNORAR
# O .env e Postgres.env NUNCA devem ser versionados!
.env
Postgres.env

# ================================
# EXEMPLOS DE CONFIGURAÇÃO (.env)
# ================================

# Exemplo de .env (Deve ser copiado para .env e preenchido):
# SQLALCHEMY_DATABASE_URI="postgresql://user:password@cbo-banco:5432/cbo"
# SOLR_HOST="http://solr:8983/solr"
# CORE_NAME="cbo_core"
# SCHEMA_ENDPOINT="http://solr:8983/solr/cbo_core/schema"
# SOLR_QUERY_URL="http://solr:8983/solr/cbo_core/select"
# SOLR_UPDATE_URL="http://solr:8983/solr/cbo_core/update?commit=true"
# STATUS_SOLR="http://solr:8983/solr/admin/cores?action=STATUS&core=cbo_core"

# Exemplo de Postgres.env (Deve ser copiado para Postgres.env e preenchido):
# POSTGRES_USER="postgres"
# POSTGRES_PASSWORD="123456" # Mudar para senha forte!
# POSTGRES_DB="cbo"